backend/schema_mapping.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="MongoDBUser"><xs:complexType><xs:sequence><xs:element name="_id" type="xs:string" /><xs:element name="account_id" type="xs:string" /><xs:element name="blocked" type="xs:string" /><xs:element name="email" type="xs:string" /><xs:element name="name" type="xs:string" /><xs:element name="phone" type="xs:string" /></xs:sequence></xs:complexType></xs:element><xs:element name="Neo4jNodes"><xs:complexType><xs:sequence><xs:element name="Account"><xs:complexType><xs:sequence><xs:element name="account_id" type="xs:string" /><xs:element name="balance" type="xs:string" /><xs:element name="blocked" type="xs:string" /></xs:sequence></xs:complexType></xs:element><xs:element name="Payment"><xs:annotation><xs:appinfo>path: (a:Account)-[:MADE_PAYMENT]-&gt;(p:Payment)</xs:appinfo></xs:annotation><xs:complexType><xs:sequence><xs:element name="amount" type="xs:string" /><xs:element name="date" type="xs:string" /><xs:element name="flagged" type="xs:string" /><xs:element name="payment_id" type="xs:string" /></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>